<div class='usersContainer'>

  <div class='card'>
    <img src='{{image}}' alt='' class='profile_img' data-user-id='{{_id}}' />
    <h2>{{name}}</h2>
    <img
      src='/images/heart1.png'
      alt=''
      class='heart_img'
      data-user-id='{{_id}}'
    />
    <p class='likes'><span>{{likedMe}}</span> likes </p>

    {{#each userComments}}
      <p>{{content}}</p>

    {{/each}}

    <form action='/users/{{_id}}/comment' method='POST'>

      <textarea name='content' cols='30' rows='2'></textarea>

      <button type='submit'>Comment</button>
    </form>

    {{!-- {{#each userInfoTwo}}
        <form
          action='/users/{{userInfo.id}}'
          method='POST'
          class='comment_container'
        > --}}

    {{!-- 
      <form action='/users/{{_id}}/comment' method='POST'>
        <button>Comment</button>
      </form> --}}

    {{! <label>Username:</label>
  <input type='text' name='name' /> }}
    {{!-- 
          <input type='text' name='postName' value='{{name.name}}' hidden />
          <textarea name='content' cols='30' rows='2'></textarea>

          <button type='submit'>Comment</button>

        </form> --}}

  </div>

</div>