<div class='usersContainer'>

  <div class='user'>
    <img src='{{image}}' alt='' class='profile_img' data-user-id='{{_id}}' />
    <h2>{{name}}</h2>
    <img
      src='/images/heart1.png'
      alt=''
      class='heart_img'
      data-user-id='{{_id}}'
    />
    <p class='likes'><span>{{likedMe}}</span> likes </p>

    {{#each userComments}}
      <p>{{content}}</p>

    {{/each}}

    <form action='/users/{{_id}}/comment' method='POST' class='comment_form'>

      <textarea name='content' cols='30' rows='2'></textarea>

      <button type='submit' class='comment_button'>Comment</button>
    </form>

  </div>

</div>
<script src='/js/lib/script.js'></script>