<form id='search'>

  <input type='text' placeholder='Search for...' />
</form>
<div class='usersContainer'>
  {{#each userInfo}}
    <div class='user'>
      <img src='{{image}}' alt='' class='profile_img' data-user-id='{{_id}}' />
      <h2 class='search-name'>{{name}}</h2>
      {{! opposite of if statement }}

      <img
        src='/images/heart1.png'
        alt=''
        class='{{#if isLiked}}hidden{{/if}} heart_img'
        data-user-id='{{_id}}'
      />

      <img
        src='/images/heart2.png'
        alt=''
        class='{{#unless isLiked}}hidden{{/unless}} heart_img2'
        data-user-id='{{_id}}'
      />

      <p class='likes'><span>{{likedMe}}</span> likes </p>
    
      <a href='/users/{{_id}}/comment'>Add a Comment</a>

    

    </div>

  {{/each}}
  

</div>
<script src='/js/lib/script.js'></script>


<script src='/js/views/users/user-profile.js'></script>

<script src='https://unpkg.com/axios/dist/axios.min.js'></script>